<a href="https://colab.research.google.com/github/DavorJordacevic/WeatherDataWWO/blob/master/weather_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install wwo-hist

Collecting wwo-hist
  Downloading https://files.pythonhosted.org/packages/5a/b4/19a4d6a0d131567cf4b2ffa3758710d867f7d7d3f0c6f94bd63fadf1d02a/wwo_hist-0.0.5-py3-none-any.whl
Installing collected packages: wwo-hist
Successfully installed wwo-hist-0.0.5

In [8]:
import os
import requests

In [6]:
from wwo_hist import retrieve_hist_data

In [9]:
frequency = 1
start_date = '01-JAN-2019'
end_date = '31-DEC-2019'
api_key = '________________'
location_list = ['belgrade']
hist_weather_data = retrieve_hist_data(api_key,
                                      location_list,
                                      start_date,
                                      end_date,
                                      frequency,
                                      location_label = False,
                                      export_csv = True,
                                      store_df = True)

Retrieving weather data for belgrade


Currently retrieving data for belgrade: from 2019-01-01 to 2019-01-31
Time elapsed (hh:mm:ss.ms) 0:00:01.182695
Currently retrieving data for belgrade: from 2019-02-01 to 2019-02-28
Time elapsed (hh:mm:ss.ms) 0:00:02.151582
Currently retrieving data for belgrade: from 2019-03-01 to 2019-03-31
Time elapsed (hh:mm:ss.ms) 0:00:03.399347
Currently retrieving data for belgrade: from 2019-04-01 to 2019-04-30
Time elapsed (hh:mm:ss.ms) 0:00:04.423388
Currently retrieving data for belgrade: from 2019-05-01 to 2019-05-31
Time elapsed (hh:mm:ss.ms) 0:00:05.463169
Currently retrieving data for belgrade: from 2019-06-01 to 2019-06-30
Time elapsed (hh:mm:ss.ms) 0:00:06.516676
Currently retrieving data for belgrade: from 2019-07-01 to 2019-07-31
Time elapsed (hh:mm:ss.ms) 0:00:07.644917
Currently retrieving data for belgrade: from 2019-08-01 to 2019-08-31
Time elapsed (hh:mm:ss.ms) 0:00:08.746646
Currently retrieving data for belgrade: from 2019-09-01 to 2019-09-30
Time elapsed (hh:mm:ss.ms) 0:00:10.320143
Currently retrieving data for belgrade: from 2019-10-01 to 2019-10-31
Time elapsed (hh:mm:ss.ms) 0:00:11.341767
Currently retrieving data for belgrade: from 2019-11-01 to 2019-11-30
Time elapsed (hh:mm:ss.ms) 0:00:12.329897
Currently retrieving data for belgrade: from 2019-12-01 to 2019-12-31
Time elapsed (hh:mm:ss.ms) 0:00:13.339621


export belgrade completed!

In [10]:
import pandas as pd

In [18]:
df = pd.read_csv("belgrade.csv") 

df.head()

             date_time  maxtempC  ...  windspeedKmph  location
0  2019-01-01 00:00:00         5  ...             12  belgrade
1  2019-01-01 01:00:00         5  ...             11  belgrade
2  2019-01-01 02:00:00         5  ...             11  belgrade
3  2019-01-01 03:00:00         5  ...             10  belgrade
4  2019-01-01 04:00:00         5  ...              9  belgrade

[5 rows x 25 columns]

In [19]:
df.tail()

                date_time  maxtempC  ...  windspeedKmph  location
8755  2019-12-31 19:00:00         1  ...              9  belgrade
8756  2019-12-31 20:00:00         1  ...             11  belgrade
8757  2019-12-31 21:00:00         1  ...             13  belgrade
8758  2019-12-31 22:00:00         1  ...             13  belgrade
8759  2019-12-31 23:00:00         1  ...             14  belgrade

[5 rows x 25 columns]



---